* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --background-color1: #d5e0e3;
  --background-color2: #f4f2ed;
  --footer-background: #1e0060;
  --buttons-color: #501dff;

  --fontColor0: #fff;
  --fontColor1: #32363e;
  --fontColor2: #13044f;
  --fontColor3: #000;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

p,
span {
  font-size: 14px;
}

h1,
h2,
h3,
p,
span,
a,
button,
input,
label {
  font-family: "Roboto Serif", serif;
  margin: 0;
  padding: 0;
}
